
:root {
    --gray: #777777;
    --black: #222222;
    --green: #46c672;
}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, a {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: var(--gray);
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header-nav {
    margin: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 430px;
}

.nav__item {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
    transition: .1s linear color;
}

.nav__link:hover {
    color: var(--black);
}

.header-intro {
    background: url('../img/header/background.jpg') no-repeat center;
}

.header-intro-dark {
    background: rgba(0, 0, 0, .75);
    text-align: center;
    padding: 110px 0;
}

.header-intro__title {
    font-size: 60px;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.header-intro__text {
    margin: 35px 0 50px;
    font-size: 20px;
    color: #cccccc;
}

.header-intro__button {
    display: block;
    width: 200px;
    padding: 20px 0;
    margin: 0 auto;
    border-radius: 60px;
    background: var(--green);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s linear background, .2s ease color;
}

.header-intro__button:hover {
    background: #fff;
    color: #333333;
}
